/*first header navigation css*/
#style1
{
    background-color: #fb0;
}
/*Login css*/

/*Registration form css*/

#loginform
{
    position: relative;
    background:#FFFFFF;
    z-index:1;
    padding-top: 10%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    margin-top: 50px;
    /*text-align: center;*/
    /*border: 1px solid black;*/
    box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0,0,0,0.24);
}

#loginform input
{
    /*display: inline-block;*/
    font-family: sans-serif;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    width: 70%;
    margin: 8px 0;
    margin-left: 15%;
    padding: 12px 20px;

    border: 1px solid #ccc;
}
#loginform label
{
    margin-left: 15%;
}
#loginform .btn  {
  width:70%;
  margin-top: 5px;
  margin-bottom: 5px;
}
#loginform .center
{
    /*margin-left: 15%;*/
    text-align: center;
}
#signupform
{
    position: relative;
    background:#FFFFFF;
    z-index:1;
    /*padding-top: 10%;*/
    padding-right: 5%;
    padding-bottom: 2%;
    padding-left: 5%;
    /*margin-top: 50px;*/
    /*text-align: center;*/
    /*border: 1px solid black;*/
    box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0,0,0,0.24);
}

#signupform input
{
    display: inline-block;
    box-sizing: border-box;
    width: 70%;
    margin: 8px 0;
    margin-left: 15%;
    padding: 12px 20px;
    border: 1px solid #ccc;
}
#signupform label
{
    margin-left: 15%;
}
#signupform .center
{
    display: inline-block;
    width: 70%;
    text-align: center;
    padding: 12px 20px;
    font-size: 20px;
    font-style: bold;
}
#checked
{
    margin-left: 15%;
}
