<div class="row" style="margin-top:100px;">
  <!-- <div class="col-lg-2 col-md-2 col-sm-2"></div>
  <div class="col-lg-8 col-md-8 col-sm-8"> -->

  <div ng-class="leavespace"></div>
  <div ng-class="allocatespace">
    <div style="background-color:{{x.bgcolor}}" ng-repeat="x in records | filter:search as results track by $index" ng-if="x.isArchived && !x.isPinned && !x.isTrashed" ng-mouseover="icons=true" ng-mouseleave="icons = false;coloricons=false" ng-class="boxsize">
      <div id="pinicon">
        <a id="pin" ng-show=icons ng-click="pinNote(x._id,'true','false')">
          <img src="../image/pin.svg">
        </a>
      </div>
      <div id="title" ng-click="openPopup(x)">{{x.title}}</div>
      <div id='notecontent' ng-bind-html="x.take_note" ng-click="openPopup(x)"></div>


      <div id="coloricons" ng-show="coloricons" ng-mouseleave="coloricons=false">

        <a ng-click="selectColor(y.color,x._id)" ng-repeat="y in color">
          <!-- <img ng-src="{{y.imgpath}}" uib-tooltip="{{y.tooltip}}" tooltip-placement="bottom"> -->
          <li class="btn-group" id="colordiv" style="background-color:{{y.color}};" uib-tooltip="{{y.tooltip}}" tooltip-placement="bottom">
            <img ng-if="y.color=='#ffffff'" src="image/Checkmark.png"></li>
        </a>

      </div>

      <div id="cardbottom"><span ng-show="icons">
        <div class="btn-group" ng-mouseleave="deleteremicon = true" uib-dropdown dropdown-append-to-body="true" uib-tooltip="Remind Me" tooltip-placement="bottom" tooltip-append-to-body=true>
          <i id="btn-append-to-body" style="display:inline-block" class="fa fa-ellipsis-v" uib-dropdown-toggle >
          <img  src="../image/remindericon.svg" ></i>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body" style="width:200px;">
            <li role="menuitem"><a ng-click="reminder(x._id,today)">Today</a></li>
            <li role="menuitem"><a ng-click="reminder(x._id,tommorrow)">Tommorow</a></li>
            <li role="menuitem"><a ng-click="reminder(x._id,next)">next week</a></li>
            <li class="divider"></li>
            <li role="menuitem">
              <div class="dropdown" style="padding-top: 10px; padding-bottom: 10px">
              <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" >
                <div class="input-group" style="padding-left: 7px;padding-right: 7px;"><input type="text" class="form-control" data-ng-model="reminderdate" name="remainder" placeholder="Pick date & time"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i>
                </div>
                <button type="button" class="btn" ng-click="reminder(x._id,reminderdate)" style="margin-left: 8px;margin-top: 10px;width: 183px;">Save</button>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="reminderdate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
              </ul>
          </div></li>
          </ul>
        </div>
        <img src="../image/unarchive.svg" ng-click="archiveNote(x._id,'false')" ng-mouseenter="coloricons=false" uib-tooltip="Unarchive" tooltip-placement="bottom" tooltip-append-to-body=true>
        <img src="../image/painticon.svg" ng-mouseover="coloricons=true" uib-tooltip="color" tooltip-placement="bottom" tooltip-append-to-body=true ng-mouseleave="deleteremicon = true">
      <div class="btn-group" uib-dropdown dropdown-append-to-body="true">
        <i id="btn-append-to-body" style="display:inline-block;" class="fa fa-ellipsis-v" uib-dropdown-toggle>
                          <img src="../image/more.svg" ng-mouseenter="coloricons=false" uib-tooltip="more" tooltip-placement="bottom" tooltip-append-to-body=true></a>
        </i>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <!-- <li role="menuitem"><a id='delete' ng-click="deleteNote(x._id, $index,false,true)">Delete</a></li> -->
        <li role="menuitem"><a id='delete' ng-click="deleteNote(x._id,'trashNote')">Delete</a></li>

        <li role="menuitem"><a ng-click="copyNote(x)">Make a copy</a></li>
      </ul>
    </div>


      </span>

      </div>
      <div style="border-top:1px dashed #e8e8e8;padding-left:16px;" ng-if="x.reminder" ng-mouseover="deleteremicon=true" ng-mouseleave="deleteremicon = false" ng-mouseleave="coloricons = false"><img uib-tooltip="Reminder" tooltip-placement="bottom" tooltip-append-to-body=true src="../image/remindertime.svg"></img> {{x.reminder | date:'dd:MMM hh:mm a'}}
        <img src="../image/deletereminder.svg" style="float:right;" ng-click="deleteReminder(x._id)" /></div>
    </div>
  </div>
</div>
