<div style="background-color: #e8e8e8;">

  <div class="row customnavbar" ng-style="navcolorbg">
    <div class="col-lg-12 col-sm-12 col-md-12">
      <div class="navbarpadding">
        <div style="display:inline-block;">

          <a style="padding: 15px 15px;cursor:pointer" ng-click="sidenav=!sidenav;slidemenubar()"><img src="image/menu.svg" alt=""></img>
          </a>
          <a id="textstyle" ng-show="!reminderdisplay">Reminder</a>
          <a id="textstyle" ng-show="!booleanvalue">Archive</a>
          <a id="textstyle" ng-show="!trashDisplay">Trash</a>
          <a id="textstyle" ng-show="!activityLog">User Activity</a>
          <a id="googlekeeptext" ng-show="booleanvalue && reminderdisplay && trashDisplay && activityLog"><img id="google" src="image/google.svg" alt="Google"><span style="padding-left:10px;">Keep</span></a>
          <!-- <a id="googlekeeptext" ng-show="booleanvalue"><img id="google" src="image/google.svg" alt="Google"><span style="padding-left:10px;">Keep</span></a> -->

        </div>

        <input type="text" class="searchtextbox" placeholder="Search.." ng-style="searchtextbox"></input>


        <span class="navicon">


        <li uib-dropdown>
            <a uib-dropdown-toggle>
              <!-- <div id="Profileicondesign">{{user.userName.charAt(0) | uppercase}} -->
                <img id="Profileicondesign" ng-src="{{user.local.croppedImage || user.facebook.picture}}">
              <!-- </div> -->
          </a>
            <div style="margin-top: -13px;width: 310px;height: 180px;margin-right: 18px;" class="dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                <div  class="row profilepicture">
                  <div style="padding-left: 26px;padding-top: 9px; width:40px;height:40px">
                  <img ng-src="{{ user.local.croppedImage ||user.facebook.picture}}">
                  </div>
                  <div style="font-family: sans-serif; float:right; margin-top: -13px;margin-right: 22px;">

                  <div style="text-transform: capitalize;font-weight: 600;">{{user.local.userName || user.facebook.displayName ||user.google.displayName}}</div>
                  <div style="word-wrap:break-word;">{{user.email}}</div>
                  </div>
                </div>
                <br>
                <br>

                  <div style="padding: 3px;">
                    <button type="button" name="button" ng-click="openProfilemodal()">Change Profile Picture</button>
                     <button  class="btn btn-default btn-lg" style="float: right;" type="button"  data-ng-click="logout()" uib-tooltip="LogOut" tooltip-placement="bottom" tooltip-append-to-body=true>Sign out
                     </button>
                  </div>


               </div>
         </li>
         <!-- <li>
           <a id="notification" uib-tooltip="Notification" tooltip-placement="bottom" tooltip-append-to-body=true>
             <svg id="notify" ng-style="changeColor" height="24px" width="24px" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="#000000">
               <path d="M12,2C6.5,2,2,6.5,2,12c0,5.5,4.5,10,10,10s10-4.5,10-10C22,6.5,17.5,2,12,2z M12,18c-0.6,0-1-0.5-1-1h2 C13,17.5,12.5,18,12,18z M17,16H7v-0.6l1.2-1.2v-3c0-1.9,1-3.4,2.8-3.8V6.9C11.1,6.4,11.5,6,12,6s0.9,0.4,0.9,0.9v0.4 c1.8,0.4,2.8,2,2.8,3.8v3l1.2,1.2V16z"></path>
             </svg>
           </a>
         </li> -->
           <li>
             <a id="grid" ng-style="gridstyle" ng-click="gridview()" uib-tooltip="Grid" tooltip-placement="bottom" tooltip-append-to-body=true>
               <svg ng-style="changeColor" id="Layer_1" xmlns="http://www.w3.org/2000/svg" height="24px" width="24px" xml:space="preserve" version="1.1" y="0px" x="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20">
               	<rect y="3" width="6" height="14"/>
               	<rect y="3" x="7" width="6" height="5"/>
               	<rect y="9" x="7" width="6" height="8"/>
               	<rect y="13" x="14" width="6" height="4"/>
               	<rect y="3" x="14" width="6" height="9"/>
               </svg>

             </a>
             <a id="list" ng-style="liststyle" ng-click="listview()" uib-tooltip="List" tooltip-placement="bottom" tooltip-append-to-body=true>
               <svg ng-style="changeColor" id="Layer_1" height="24px" width="24px" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" y="0px" x="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" fill="#000000">
               		<path d="m1 16h18v-6h-18v6zm0-13v6h18v-6h-18z"/>
               </svg>

             </a>
           </li>
           <li>
             <a id="refresh" uib-tooltip="Refresh" tooltip-placement="bottom" tooltip-append-to-body=true>
               <svg ng-style="changeColor"  height="24px" width="24px" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 18 18" fill="#000000">
                <path d="m0 0h18v18h-18z" fill="none"/>
                <path d="m9 13.5c-2.49 0-4.5-2.01-4.5-4.5s2.01-4.5 4.5-4.5c1.24 0 2.36 0.52 3.17 1.33l-2.17 2.17h5v-5l-1.76 1.76c-1.09-1.08-2.58-1.76-4.24-1.76-3.31 0-5.99 2.69-5.99 6s2.68 6 5.99 6c2.97 0 5.43-2.16 5.9-5h-1.52c-0.46 2-2.24 3.5-4.38 3.5z"/>
               </svg>

             </a>
           </li>

     </span>
      </div>

    </div>

  </div>

  <!-- <div data-ng-class="{'is-visible':visible}" class="menu" style="z-index: 1;">
 	    <div class="sidebar-nav" style="margin-top: 10px; font-size: 20px;">
 			<a data-ui-sref="home" style="text-decoration: none;cursor: pointer;padd"><div class="sidebar-brand" style="padding:13px;"><img src="images/noteicon.png"><span style="padding-left: 20px;">Notes</span></div></a>
 			<a data-ui-sref="remainders" style="text-decoration: none;cursor: pointer;"><div class="sidebar-brand" style="padding: 13px;"><span><img src="images/remindericon.svg"></span><span style="padding-left: 25px;">Reminders</span></div></a>
 			<hr><a data-ui-sref="archive" style="text-decoration: none;cursor: pointer;"> <div class="sidebar-brand" style="padding: 13px;"><span><img src="images/archiveA.svg"></span><span style="padding-left: 26px;">Archive</span></div></a>
 	    </div>
   </div> -->

  <div id="wrapper" class="toggled">
    <div class="container-fluid wrappercontainer">
      <!-- Sidebar -->
      <div id="sidebar-wrapper" ng-hide="sidenav">
        <ul class="sidebar-nav">
          <li>
            <a ui-sref="home"><span><img id="iconimg" src="../image/noteicon.png"></span>
              <span id="shift">Notes</span></a>
          </li>
          <li>
            <a ui-sref="reminder" ng-click=reminder()><span>
              <img src="../image/sidebarReminder.svg" alt="">
          </span>
            <span id="shift">Reminder</span></a>
          </li>

          <li>
            <a ui-sref="archive">
              <span>
                <img src="../image/sidebarArchive.svg" alt="">
         </span> <span id="shift">Archive</span></a>
          </li>

          <li>
            <a ui-sref="trash">
              <span>
              <img src="../image/sidebarTrash.svg" alt=""></span>
              <span id="shift">Trash</span>
            </a>
          </li>
          <li>
            <a ui-sref="userActivity">
            <span id=shift>User Activity
            </span></a>
          </li>
        </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->


      <div id="page-content-wrapper" ng-style="pagecontent">
        <div class="container-fluid pagecontent">
          <div ng-show="booleanvalue && reminderdisplay && trashDisplay && activityLog" class="row">
            <div class="col-lg-3 col-md-3 col-sm-3"></div>
            <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6">
              <div id="divnote1" ng-show="note1" ng-hide="note2" ng-click="note2 = !note2">
                <!-- <input type="text" placeholder="Take a note.." > -->
                <div contenteditable="false">
                  Take a note..
                  <div class="float">
                    <!-- <img src="../image/penicon.png">
                    <img src="../image/notewithimageicon.png"> -->
                  </div>
                </div>
              </div>

              <div id="divnote2" ng-show="note2">
                <div id="title" newcontenteditable contenteditable="true" placeholder="Title" ng-model="title"></div>
                <div id="content" newcontenteditable contenteditable="true" placeholder="Take a note.." ng-model="content"></div>
                <div style="padding: 10px 10px;"><a id="done" style="font-size: 13px;float:right;text-decoration:none;color: black;font-weight: bold;" ng-click="saveNote()">Done</a>
                  <img src="../image/penicon.png"><img src="../image/notewithimageicon.png">
                </div>
              </div>
                <div id="comment"></div>

            </div>
          </div>

          <!-- <my-todo list="pinup" color="color" pinuptitle="pinup"></my-todo> -->

          <div ng-show="booleanvalue && reminderdisplay &&trashDisplay && activityLog" ng-include="'templates/pinup.html'">

          </div>

          <div ng-show="booleanvalue && reminderdisplay && trashDisplay  && activityLog" ng-include="'templates/noteCard.html'">

          </div>

          <div ng-show="!booleanvalue" ng-include="'templates/archive.html'">

          </div>

          <div ng-show="!reminderdisplay" ng-include="'templates/reminder.html'">

          </div>
          <div ng-show="!trashDisplay" ng-include="'templates/trash.html'">
          </div>
          <div ng-show="!activityLog"  ng-include="'templates/activityLog.html'">

          </div>

          <!-- <div my-dom-directive>Click Me!</div> -->
          <!-- <pinnedcards></pinnedcards>  -->
          <!-- <div ng-include="templateURL"></div> -->




        </div>




      </div>
      <!-- /#page-content-wrapper -->
    </div>
  </div>



</div>

<!-- </html> -->
