<div ng-controller="HomeController" style="background-color: #e8e8e8;">


  <!-- <nav class="navbar navbar-inverse navbar-fixed-top" id="navcolor" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" id="menu-toggle"><img src="../image/menu.png" alt=""></img>
        </a>
        <a class="btn-group" id="googlekeeptext"><b id="google">Google </b>Keep</a>
        <div class="btn-group">

         <input type="text" id="searchtextbox" placeholder="Search"></input></div>
      </div>
      <span>

          <li id="iconnav">
            <a id="refresh" uib-tooltip="Refresh" tooltip-placement="bottom" tooltip-append-to-body=true ><img  src="../image/refreshicon.png"></img></a>

            <a id="grid" ng-style="gridstyle" ng-click="gridview()" uib-tooltip="Grid" tooltip-placement="bottom" tooltip-append-to-body=true><img src="../image/appsicon.png"></img></a>

            <a id="list" ng-style="liststyle" ng-click="listview()" uib-tooltip="List" tooltip-placement="bottom" tooltip-append-to-body=true><img src="../image/listviewicon.png"></img></a>

            <a  uib-tooltip="Notification" tooltip-placement="bottom" tooltip-append-to-body=true><img id="notification" src="../image/notification.png"></img></a>

          <a type="button" id="logOut"><img src="../image/logout.png" alt=""></img></a>

        </li>
      </span>
    </div>
  </nav> -->


  <nav class="navbar navbar-inverse navbar-fixed-top" id="navcolor" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

        <a class="navbar-brand" ng-click="sidenav=!sidenav;slidemenubar()" id="menu-toggle"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>

        <!-- <span class="nav navbar-nav navbar-left"> -->

        <a id="googlekeeptext" class="btn-group" uib-tooltip="Google" tooltip-placement="bottom"><b id="google">Google </b>Keep</a>
        <div class="btn-group">
<input type="text" placeholder="Search..." id="searchtextbox" ng-model="search">
        </div>
        <!-- </span> -->

       </div>




     <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a id="refresh" uib-tooltip="Refresh" tooltip-placement="bottom" tooltip-append-to-body=true><img src="../image/refreshicon.png"></img>
            </a>
            <li>
              <a id="grid" ng-style="gridstyle" ng-click="gridview()" uib-tooltip="Grid" tooltip-placement="bottom" tooltip-append-to-body=true><img src="../image/appsicon.png"></img>
              </a>
            </li>
            <li>
              <a id="list" ng-style="liststyle" ng-click="listview()" uib-tooltip="List" tooltip-placement="bottom" tooltip-append-to-body=true><img src="../image/listviewicon.png"></img>
              </a>
            </li>
            <li>
              <a id="notification" uib-tooltip="Notification" tooltip-placement="bottom" tooltip-append-to-body=true><img src="../image/notification.png"></img>
              </a>
            </li>

            <li>
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- <div id="Profileicondesign">{{user.userName.charAt(0) | uppercase}} -->
                    <img id="Profileicondesign" ng-src="{{user.CroppedImage}}">
                  <!-- </div> -->
              </a>
                <div style="margin-top: -13px;width: 310px;height: 167px;margin-right: 18px;" class="dropdown-menu">
                    <div  class="row profilepicture">
                      <div class="col-sm-5" style="padding-left: 26px;padding-top: 9px;">
                      <img ng-src="{{user.CroppedImage}}">
                      </div>
                      <div class="col-sm-7" style="padding-top: 20px;padding-left: inherit;font-family: sans-serif;">

                      <div style="text-transform: capitalize;font-weight: 600;">{{user.userName }}</div>
                      <div>{{user.userEmail}}</div>
                      </div>

                   </div>

                      <div style="padding: 3px;">
                        <button type="button" name="button" ng-click="Openprofilemodal()">Change Profile Picture</button>

                         <button class="btn btn-default btn-lg" style="float: right;" type="button"  data-ng-click="logout()" uib-tooltip="LogOut" tooltip-placement="bottom" tooltip-append-to-body=true>Sign out
                         </button>
                      </div>
                   </div>
             </li>

        </ul>

      </div>
    </div>
  </nav>



  <div id="wrapper" class="toggled">
    <div class="container-fluid wrappercontainer">
      <!-- Sidebar -->
      <div id="sidebar-wrapper" ng-hide="sidenav">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <br>
          </li>
          <li>
            <a><img id="iconimg" src="../image/noteicon.png">Notes</a>
          </li>
          <li>
            <a>Reminder</a>
          </li>

          <li>
            <a ng-click="archive()">Archive</a>
          </li>

          <li>
            <a>Trash</a>
          </li>
          <li>
            <a>Settings</a>
          </li>
          <!-- <li id="change">
            <a type="button" id="logOut"><img src="../image/logout.png" alt=""></img>
            </a>
          </li> -->



        </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->


      <div id="page-content-wrapper" ng-style="pagecontent">
        <div class="container-fluid pagecontent">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3"></div>
            <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6">
              <div id="divnote1" ng-show="note1" ng-hide="note2" ng-click="note2 = !note2">
                <!-- <input type="text" placeholder="Take a note.." > -->
                <div contenteditable="false">
                  Take a note..
                  <div class="float">
                    <!-- <img src="../image/penicon.png">
                    <img src="../image/notewithimageicon.png"> -->
                  </div>
                </div>
              </div>

              <div id="divnote2" ng-show="note2">
                <div id="title" newcontenteditable contenteditable="true" placeholder="Title" ng-model="title"></div>
                <div id="content" newcontenteditable contenteditable="true" placeholder="Take a note.." ng-model="content"></div>
                <div style="padding: 10px 10px;"><a id="done" style="font-size: 13px;float:right;text-decoration:none;color: black;font-weight: bold;" ng-click="savenote()">Done</a>
                  <img src="../image/penicon.png"><img src="../image/notewithimageicon.png">
                </div>
              </div>

            </div>
          </div>

             <!-- <my-todo list="pinup" color="color" pinuptitle="pinup"></my-todo> -->

             <div ng-include="'templates/pinup.html'">

             </div>

             <div ng-include="'templates/Notecards.html'">

             </div>
           <!-- <div my-dom-directive>Click Me!</div> -->
           <!-- <pinnedcards></pinnedcards>  -->
             <!-- <div ng-include="templateURL"></div> -->
             <!-- <div class="row" ng-class="changeview">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8">

              <div style="background-color:{{x.bgcolor}}" ng-repeat="x in records | filter:search" ng-if="!x.archive" ng-mouseover="icons=true" ng-mouseleave="icons = false;coloricons=false" ng-class="boxsize" testpackery>
                <a id="pin" ng-show="icons">
                  <img src="../image/pin.png">
                </a>
                <div id="title" ng-click="OpenPopup(x)">{{x.title}}</div>
                <div id='notecontent' ng-bind-html="x.take_note" ng-click="OpenPopup(x)"></div>


                <div id="coloricons" ng-show="coloricons" ng-mouseleave="coloricons=false">

                  <a ng-click="selectcolor(y.color,x._id)" ng-repeat="y in color" >
                    <img ng-src="{{y.imgpath}}" uib-tooltip="{{y.tooltip}}" tooltip-placement="bottom">
                  </a>

                </div>

                <div id="cardbottom"><span ng-show="icons">
                  <div class="btn-group" ng-mouseleave="deleteremicon = true" uib-dropdown dropdown-append-to-body="true" uib-tooltip="Remind Me" tooltip-placement="bottom" tooltip-append-to-body=true>
                    <i id="btn-append-to-body" style="display:inline-block" class="fa fa-ellipsis-v" uib-dropdown-toggle >
                    <img  src="../image/Remindericon.png" ></i>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body" style="width:200px;">
                      <li role="menuitem"><a ng-click="reminder(x._id,today)">Today</a></li>
                      <li role="menuitem"><a ng-click="reminder(x._id,tommorrow)">Tommorow</a></li>
                      <li role="menuitem"><a ng-click="reminder(x._id,next)">next week</a></li>
                      <li class="divider"></li>
                      <li role="menuitem">
                        <div class="dropdown" style="padding-top: 10px; padding-bottom: 10px">
                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" >
                          <div class="input-group" style="padding-left: 7px;padding-right: 7px;"><input type="text" class="form-control" data-ng-model="reminderdate" name="remainder" placeholder="Pick date & time"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i>
                          </div>
                          <button type="button" class="btn" ng-click="reminder(x._id,reminderdate)" style="margin-left: 8px;margin-top: 10px;width: 183px;">Save</button>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                          <datetimepicker data-ng-model="reminderdate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                        </ul>
                    </div></li>
                    </ul>
                  </div>
                  <img src="../image/archive.png" ng-click="archive_notes(x._id)" ng-mouseenter="coloricons=false">
                  <img src="../image/color.png" ng-mouseover="coloricons=true" uib-tooltip="color" tooltip-placement="bottom" tooltip-append-to-body=true ng-mouseleave="deleteremicon = true">
                <div class="btn-group" uib-dropdown dropdown-append-to-body="true">
                  <i id="btn-append-to-body" style="display:inline-block;" class="fa fa-ellipsis-v" uib-dropdown-toggle>
                                    <img src="../image/more.png" ng-mouseenter="coloricons=false"></a>
                  </i>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                  <li role="menuitem"><a id='delete' ng-click="deletenote(x._id, $index)">Delete</a></li>
                  <li role="menuitem"><a ng-click="copyNote(x)">Make a copy</a></li>
                </ul>
              </div>


                </span>
                  <div  style="border-top:1px dashed #e8e8e8;padding-left:16px;" ng-if="x.reminder" ng-mouseover="deleteremicon=true" ng-mouseleave="deleteremicon = false" ng-mouseleave="coloricons = false"><span uib-tooltip="Reminder" tooltip-placement="bottom" tooltip-append-to-body=true class="glyphicon glyphicon-time"></span> {{x.reminder | date:'dd:MMM hh:mm a'}}
                    <span ng-show="icons" class="glyphicon glyphicon-remove-circle" style="float:right;" ng-click="deletereminder(x._id)"></span></div>
                </div>
              </div>
            </div>
            <div>

            </div>
          </div> -->



        </div>




      </div>
      <!-- /#page-content-wrapper -->
    </div>
  </div>



</div>

<!-- </html> -->
