<div>

  <header>
    <nav class="navbar navbar-default" id="style1">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" ui-sref="/">Google Keep</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a ui-sref="signup"><span class="glyphicon glyphicon-user"></span>Signup</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- <div class="row customnavbar" ng-style="navcolorbg">
    <div class="col-lg-12 col-sm-12 col-md-12">
      <div class="navbarpadding">
        <div style="display:inline-block;">
          <a id="googlekeeptext"><img id="google" src="image/google.svg" alt="Google"><span style="padding-left:10px;">Keep</span></a>
        </div>
        <span class="nav navbar-nav navbar-right navicon">
          <a ui-sref="signup"><span class="glyphicon glyphicon-user"></span>Signup</a>
        <span>
      </div>

    </div>

  </div> -->





  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 ">
        <form id="loginform" name="loginform" ng-controller="loginController">

          <p>
            <label>Email id:</label>
            <i class="glyphicon glyphicon-user"></i><br>
            <input type="email" class="form-control" name="email_id" ng-model="email_id" placeholder="Email Id" required>
            <span ng-show="loginform.email_id.$dirty && loginform.email_id.$invalid">
          <span style="color:red;margin-left:16%" ng-show="loginform.email_id.$error.required">Email_id is required.</span>
            <span style="color:red;margin-left:16%" ng-show="loginform.email_id.$error.email">Invalid email_id.</span>
            <!-- <span ng-show="loginform.email_id.$touched">please Enter email_id</span> -->

            </span>
          </p>





          <p>
            <label>Password:</label>
            <i class="glyphicon glyphicon-lock"></i><br>
            <input type="password" name="password" class="form-control" placeholder="Password" ng-model="password" required>
            <span ng-show="loginform.password.$dirty && loginform.password.$invalid">
          <span style="color:red;margin-left:16%" ng-show="loginform.password.$error.required">password is required.</span></p>
          <!-- <span ng-show="loginform.password.$error.minlength">password is too short.</span></p> -->


          <!-- <button type="button" id="login1" ng-click="login()" class="btn btn-success center" ng-disabled="loginform.$invalid">Submit</button><br><br> -->
            <p><input type="submit"  ng-click="login()" class="btn btn-success center" ng-disabled="loginform.$invalid"></p>
          <p style="color:red;margin-left:16%">{{error}}</p>




            <p><input ng-click="authenticate('facebook')" class="btn btn-primary center" value="Sign in with Facebook"></p>
            <p><input ng-click="authenticate('google')" class="btn btn-danger center" value="Sign in with Google"></p>

              <p  class="center"><a ui-sref="signup">New User / Register here?</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
