
<div class="modal-header">
  <div id="title" newcontenteditable contenteditable="true" placeholder="Title" ng-model="$ctrl.title"></div>

</div>
<div class="modal-body">
  <div id="content" newcontenteditable contenteditable="true" placeholder="Take a note.." ng-model="$ctrl.content"></div>

</div>
<div class="modal-footer">
  <!-- <div><a id="done" style="float:right;" ng-click="$ctrl.updateNote()">Done</a> -->
<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel();$ctrl.updateNote()">Done</button>
</div>
