<div style="background-color:{{$ctrl.bgcolor}}">


<div class="modal-header">
  <div id="title" newcontenteditable contenteditable="true" placeholder="Title" ng-model="$ctrl.title"></div>

</div>
<div class="modal-body">
  <div id="content" newcontenteditable contenteditable="true" placeholder="Take a note.." ng-model="$ctrl.content"></div>
  <div ng-if="$ctrl.scrapeImageurl" class="scrapdiv">
    <img ng-src={{$ctrl.scrapeImageurl}} style="height:56px;width:56px;" alt="no image" />
    <span>{{$ctrl.scrapeTitle}}</span>
    <a target="blank" href="{{$ctrl.scrapeLinkurl}}"><img src="../image/linkicon.svg" alt="link" uib-tooltip="Go to Link" tooltip-placement="bottom" tooltip-append-to-body=true style="top:0;float:right;"/></a>
    <span><img  src="../image/more.svg" uib-tooltip="" tooltip-placement="bottom" tooltip-append-to-body=true ></span>
  </div>
  <div style="float:right;font-style: italic;">Edited on {{$ctrl.date | date:'HH:MM'}}</div>

</div>
<div class="modal-footer">
  <!-- <div><a id="done" style="float:right;" ng-click="$ctrl.updateNote()">Done</a> -->
<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel();$ctrl.updateNote()">Done</button>
</div>
</div>
