<div style="background-color:{{$ctrl.bgcolor}}">


<div class="modal-header">
  <div id="title" newcontenteditable contenteditable="true" placeholder="Title" ng-model="$ctrl.note.title"></div>

</div>
<div class="modal-body">
  <div id="content" newcontenteditable contenteditable="true" placeholder="Take a note.." ng-model="$ctrl.note.content"></div>

  <div ng-if="$ctrl.scrape" ng-repeat="z in $ctrl.scrape" >
      <a id="link" target="blank" href="{{z.scrapeLinkurl}}">{{z.scrapeLinkurl}}</a>
  </div>

  <div ng-if="$ctrl.scrape" ng-repeat="z in $ctrl.scrape" class="scrapdiv">
    <img ng-src={{z.scrapeImageurl}} style="height:56px;width:56px;" alt="no image" />
    <span class="scrapeTitle">{{z.scrapeTitle}}</span>
    <a target="blank" id ="scrapurl" href="{{z.scrapeLinkurl}}">
      <img src="../image/linkicon.svg" alt="link" uib-tooltip="Go to Link" tooltip-placement="bottom" tooltip-append-to-body=true style="top:0;float:right;"/></a>
    <!-- <img  src="../image/more.svg" > -->
    <div class="btn-group" uib-dropdown dropdown-append-to-body="true">
  <button id="btn-append-to-body" uib-dropdown-toggle>
    <img src="../image/more.svg" id="btn-append-to-body" uib-tooltip="more" tooltip-placement="bottom" tooltip-append-to-body=true uib-dropdown-toggle></button>
  <!-- <i type=button style="display:inline-block;" uib-dropdown-toggle ng-disabled="disabled">
 <img src="../image/more.svg" ng-mouseenter="coloricons=false" uib-tooltip="more" tooltip-placement="bottom" tooltip-append-to-body=true></a>
  </i> -->
  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
    <li role="menuitem"><a ng-click='removeScrapcontent(z)'>Remove Url</a></li>
  </ul>
</div>
  </div>
  <div style="float:right;font-style: italic;">Edited on {{$ctrl.note.updatedAt | date:'dd:MMM hh:mm a'}}</div>
</div>
<div class="modal-footer">
<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel();$ctrl.updateNote()">Done</button>
</div>
</div>
